.searchForm {
  width: 80vw;
  margin-left: 70vw;
}

.courses {
  margin: 0 auto;
  position: relative;
  float: none;
  margin-top: 4vw;
  width: 70vw;
  color: black;
}

.apply {
  color: white;
  margin-left: 10em;
  margin-right: 7vw;
  color: white;
  justify-content: right;
}

.apply:hover {
  color: white;
}

.courseLink {
  color: white;
}

.courseLink:hover {
  color: white
}

.image {
  position: relative;
  margin-top: 1vw;
  margin-left: 1vw;
}

.overlay {
  margin-left: 6vw;
}

.videoButton {
  color: black;
}

.videoButton:hover {
  color: white;
}

.list-group-flush {
  position: absolute;
  height: 50vw;
  margin-top: 2vw;
  margin-left: 70%;
}

.searchText {
  text-align: center;
  margin-top: 3vw;
}

.fields {
  text-align: center;
}

.search-Form {
  margin-top: 2.5vw;
  margin-left: 3vw;
  width: 26vw;
  height: 2.3vw;
  border-style: groove;
}

.search-Form:focus {
  outline: none;
  border-color: #3b444b;
}

.links {
  display: inline-block;
}

.indexOfJobs {
  margin-left: 9vw;
  margin-top: 7vw;
}

.sortButton {
  margin-left: 75vw;
  margin-top: 0vw;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vw;
  margin-left: 45vw;
}