.searchForm{
   width: 30rem;
}

.courses{
    margin: 0 auto;
    float: none;
    margin-top: 4em;
    width: 70em;
    color: black;
  }
  
  .apply {
    color: white;
   margin-left: 10em;
  }
  
  .apply:hover {
    color:white;
  }
  
  .courseLink{
    color: white;
  }
  
  .courseLink:hover {
    color: white
  }
  
  